# ClinicOps Copilot - AI Pipeline Configuration

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
AWS_SESSION_TOKEN=YOUR_AWS_SESSION_TOKEN
AWS_BEARER_TOKEN_BEDROCK=YOUR_BEDROCK_BEARER_TOKEN

NOVA_TEXT_MODEL_ID=amazon.nova-micro-v1:0
NOVA_EMBED_MODEL_ID=amazon.titan-embed-text-v1

# Change to 0 when you want to make real API calls to AWS Bedrock
USE_MOCK_MODEL=1
